*.class

# Package Files
*.jar
*.war
*.ear

# Maven Build
target/

# Eclipse directories
bin/
.settings
.classpath
.project
.tern-project

# Intellij directories
.idea/

# Forge file
.forge_settings

# Mac File
*.DS_Store

*~

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
